.cursor {
   position: fixed;
   width: 30px;
   aspect-ratio: 1;
   background-color: white;
   border-radius: 50%;
   z-index: 99;
}

.toaster {
  
   font-family: var(--font);
   color: white;
   padding: 15px;
   transition: 0.7s;

   /* From https://css.glass */
   background: rgba(255, 255, 255, 0.1);
   border-radius: 16px;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(8.2px);
   -webkit-backdrop-filter: blur(8.2px);
   border: 1px solid rgba(255, 255, 255, 0.1);

   p{
      display: flex;
      align-items: center;
      gap:10px;
      font-size: 1rem;

      svg{
         color:tomato;
      }
      .success{
         color:green;

      }
   }
}

.animate-enter {
   opacity: 1;
}

.animate-leave {
   opacity: 0;
}