@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 90%;
  max-width: 1440px;
  margin: auto;
}

#root{
  background-color: #000;
  --font: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}




/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px; 
  display: none;
}

/* Track (background) */
::-webkit-scrollbar-track {
  background:black;
}

/* Thumb (draggable part) */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Hover effect on thumb */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.customNotificationfirst{

  font-family: 'Montserrat', sans-serif;
  color: white;
  padding: 15px;
  transition: 0.7s;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.2px);
  -webkit-backdrop-filter: blur(8.2px);
  border: 1px solid rgba(255, 255, 255, 0.1);

  font-size: clamp(0.6rem, 0.4258rem + 0.8602vw, 1.2rem);

  & a{
    color: white;
  }

}