@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 90%;
  max-width: 1440px;
  margin: auto;
}

#root{
  background-color: #000;
  --font: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}




/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px; /* For horizontal scrollbar */
}

/* Track (background) */
::-webkit-scrollbar-track {
  background:black;
}

/* Thumb (draggable part) */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Hover effect on thumb */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}